.sidebar{
    display: flex;
    width: 300px;
    height: 100%;
    /* height: 100%; */
    border-radius: none;
    /* background-color: rgb(243, 243, 247); */
    box-shadow: 0 4px 5px blue;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
}
.search{
    width: 100%;
    height: auto;
    display: flex;
}
 .search input{
    width: 200px;
    border-radius: 30px;
    color: black;
    border: none;
    padding: 10px;
    background-color: none;
}
 .search button{
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
}
.sidebar h3{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.sidebar ul{
    list-style-type: none;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar ul li{
    display: flex;
    justify-content: space-between;
}