.to-do{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.to-do .search{
    text-align: center;
    width: 100%;
    height: auto;
}
.to-do .search input{
    padding: 10px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    border: none;
    box-shadow: 0 4px 4px #0f040c;
}
.search button{
    padding: 10px;
    width: 100px;
    background-color: #732f3e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px ;
    color: #bab4b8;
    border: none;
    box-shadow: 0 4px 4px #0f040c;
}
.search button:hover{
    background-color: #301338;
}
.todo-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}