.cart-receipt{
    width: 300px;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 2px solid white;
    padding: 10px;
}
.cart-receipt ul{
    list-style-type: none;
    width: 100%;
}
.cart-receipt ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}