.box{
    width: 290px;
    height: 460px;
    background-color: #441f46;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.box a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.box .rate{
    color: rgb(255, 81, 0);
}
.box img{
    width: 80%;
    height: 60%;
}
.box .btn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #27284e;
    color: white;
}
.box .btn:hover{
    background-color: #0e0e18;
}
.box .desc{
    height: 55px;
    overflow: hidden;
}
.box .discount{
    font-size: 20px;
}
.box .price, .box .discount,
.box h2{
    color: #dfe0ec;
}
.box p{
    color: #757179;
}